[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
migrate = "alembic upgrade head"
run = "uvicorn main:app --reload"

[packages]
peewee = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
pydantic = "*"
psycopg2 = "*"
peewee-migrate = "*"
pyjwt = "*"
passlib = {extras = ["bcrypt"] }
argon2-cffi = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
