[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
migrate = "alembic upgrade head"
run = "uvicorn main:app --reload"

[packages]
asyncpg = "*"
fastapi = "*"
uvicorn = "*"
python-dotenv = "*"
pydantic = "*"
sqlalchemy = "*"
psycopg2 = "*"
alembic = "*"
fastapi-users = "*"
fastapi-users-db-sqlalchemy = "*"
setuptools = "*"
coredis = "*"
openpyxl = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
